* {
	background-image: none;
	box-shadow: none;
	font-family: "JetBrainsMono NF";
	text-shadow: none;
}

window {
	background-color: rgba(30, 30, 46, 0.90);
}

button {
	border-radius: 0;
	text-decoration-color: #cdd6f4;
	color: #cdd6f4;
	background-color: #181825;
	border-style: solid;
	border-width: 0px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	margin: 5px;
}

button:focus, button:active, button:hover {
	background-color: rgb(48, 50, 66);
	outline-style: none;
}


#lock {
    background-image: url("/home/kanata/.config/wlogout/icons/lock.svg");
}

#logout {
    background-image: url("/home/kanata/.config/wlogout/icons/logout.svg");
}

#suspend {
    background-image: url("/home/kanata/.config/wlogout/icons/suspend.svg");
}

#hibernate {
    background-image: url("/home/kanata/.config/wlogout/icons/hibernate.svg");
}

#shutdown {
    background-image: url("/home/kanata/.config/wlogout/icons/shutdown.svg");
}

#reboot {
    background-image: url("/home/kanata/.config/wlogout/icons/reboot.svg");
}
